* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

:root { /*Cores do projeto*/
    --cor1: #331d4a;
    --cor2: #e80560;
    --cor3: #ffa02e;
    --cor4: #afcacc;
    --cor5: #e4f3d8;
}

header {
    background-color: var(--cor2);
}

body {
    background-color: var(--cor4);
}

/* Área de Busca */
nav {
    width: 100vw;
    display: flex;
    align-items: center;
}

label#labelFromInputProcura {
    width: 70vw;
}

label#labelFromInputProcura::before {
    content: "🔍";
}

input#procura {
    padding: 3px;
    width: 91%;
    margin: 5px 0px;
}

nav select {
    padding: 3px;
    width: 29vw; 
}

#icon-add {
    display: block;
    width: 30px;
    margin: auto;
}

/* Área de Adição de Livros */
aside{
    display: none;
    width: 100%;
}

div.campo-linha-grande { /* campo-linha-grande é onde o input ocupa um pedaço grande da linha e o label o resto */
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0px 8px;

    width: 100%;
    margin-bottom: 2px;
}

div.campo-linha-grande > label.textFromInputGrande {
    width: 18%;
    text-align: center;
    padding: 3px;
    align-items: center;
}

div.campo-linha-grande > input.inputGrande {
    width: 80%;
    border-radius: 4px;
    padding: 3px;
}

div.campo-linha-compartilhada { /* Aqui vão ter dois labels e dois inputs na mesma linha */
    display: flex;
}

div.campo-interno {
    padding: 0px 8px;
    width: 50%;
    display: flex; /* Por ter itens dentro, o display flex influencia eles*/

    text-align: center;
}

div.campo-interno > label {
    width: 35%;
    padding: 3px;
    margin-right: 9%;
}

div.campo-interno > input, div.campo-interno > select {
    width: 60%;
    padding: 3px;
    margin-bottom: 3px;

    border-radius: 4px;
}

button#addLivro {
    display: block;
    margin: auto;

    width: 35%;
    padding: 2px;
}

footer {
    color: white;
    text-align: center;

    background-color: black;
    padding: 6px;
    width: 100vw;

    position: absolute;
    display: block;
    bottom: 0px;
    right: 0px
}
